body {
    background-color: #040000;
}

/* Tooltip */
[data-title] {
    position: relative;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 11px;
    font-family: sans-serif;
    white-space: nowrap;
    z-index: 21;
}

/* Grid */

.row {
    width: 100%;
    margin: 0;
}

.post-content {
    text-align: justify;
    padding: 25px 50px;
    font-family: sans-serif;
    line-height: 20px;
    white-space: pre-line;
}
